.bg-dark .navbar-brand {
  color: white;
}

.bin-header {
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0px 1px 4px #dee2e6;
}

.bg-dark .bin-header {
  border-color: #444444;
  box-shadow: 0px 1px 4px #444444;;
}

.main-container {
  background-color: rgba(var(--bs-light-rgb))
}

.bg-dark .main-container {
  background-color: rgb(27, 31, 35)
}

.bin-editor-area {
}

.bg-dark .bin-editor-area {
  background-color: #2d2d2d;
  border-color: #444444;
  color: #e0e0e0;
}

.bg-dark .bin-editor-area::placeholder {
  color: #888888;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid;
}

.bg-dark footer {
  background-color: #2d2d2d !important;
  border-color: #444444 !important;
  color: #e0e0e0 !important;
}

.bg-dark footer .text-muted {
  color: #e0e0e0 !important;
}

.delete-tag {
  cursor: pointer;
}

.tag-container {
  display: flex;
  gap: 10px;
}